.expanded{
  @include container(1200px);
  color: white;
  font-size: 0.85em;
  opacity: 0.8;
  max-height: 149px;
  overflow-y: auto;
  padding-left: 57px;
  .asset{

    .addAsset{
      @include span(1 of 5);
      @extend .user-select;
      background-color: $secondaryDarkBlue;
      border-radius: 10px;
      text-align: center;
      padding: 1.5em;
      margin: 1em;
      cursor: pointer;
    }
  }

  .properties{
    padding: 2em;
  }

  .details{
    padding: 2em;
  }

  .preview{
    padding: 2em;
  }
}