.expanded{
  @include container(1200px);
  color: white;
  font-size: 0.85em;
  opacity: 0.8;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 2%;
  .asset{

    .addAsset{
      @include span(1 of 5);
      @extend .user-select;
      background-color: $secondaryDarkBlue;
      border-radius: 5px;
      text-align: center;
      padding: 1.5em;
      margin: 1em;
      cursor: pointer;
      position: relative;
      min-width: 100px;
    }
  }

  .properties{
    margin-left: 15%;
    .panel_one{
      @include span(100%/6);
      padding:1em;
      margin:0;
      color: white;
    }
    .panel{
      @include span(100%/1.5);
      padding:1em;
      margin:0;
      color: white;
      overflow: hidden;
    }
  }

  .details{
    margin-left: 15%;
    .preview{
      @include span(1 of 3);
      height:150px;
      background-color: $secondaryDarkBlue;
      border-radius: 5px;
      text-align: center;
      padding: 1.5em;
      margin: 1em;
      cursor: pointer;
      position: relative;
    }

    .info{
      @include span(2 of 3);
      margin: 1em;
    }
  }
}