.design{
  @extend .depth_one;
  @include span(4);
  background-color: $veryDarkBlue;
  border-radius: 4em;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-backface-visibility: hidden;
  &:hover {
    @extend .depth_three;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-backface-visibility: hidden;
  }

  .thumbnail{
    @include span(3 of 8);
    margin-left: 0;
  }

  .details{
    @include span(5 of 8);
    color:white;
    padding-top: 12%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .name{
      font-weight: bold;
      font-style: italic;
      overflow: hidden;
      user-select: none;
      cursor: pointer;
    }
    .date{
      opacity: 0.82;
      user-select: none;
      cursor: pointer;
    }
  }
}