.navBar {
  .top {
    height: 60px;
    background: _linear_gradient(90deg, $lightBlue, $darkBlue);
    justify-content: center;
    align-content: center;
    display: flex;
    #logo {
      max-height: 40px;
      margin: auto;
    }
  }

  .divider{
    height: 1px;
    width: 100%;
    background-color: $lightBlue;
    opacity: 0.5;
  }

  .bottom {
    height: 60px;
    background-color: $darkBlue;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    .title {
      @include container(1200px);
      padding-top: 0.7em;
      color: white;
      font-weight: 700;
      font-size: 1.5em;
      font-style: italic;
    }
  }
}

